<!-- <nav>
    <div class="site-title">

        <a href="/"><h1>Product Backlog</h1></a>
    </div>
    <ul>
        <li><a href="/sort-by-date">Sort by Date</a></li>
        <li><a href="/sort">Sort by Priority</a></li>
        <li><a href="/scrumboard">HOME</a></li>
    </ul>
</nav> -->
<nav class="navbar">
    <div class="site-title">
        <a href="/blogs"><h1>Product Backlog</h1></a>
    </div>
	<ul>
		<li>
			<a href="#">Navigation Directory</a>
			<ul>
				<li><a href="/scrumboard">Scrum Board</a></li>
				<li><a href="/blogs">Product Backlog</a></li>
			</ul>
		</li>
	</ul>
</nav>
