@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');
    body{
      max-width: 1200px;
      margin: 20px auto;
      padding: 0 20px;
      font-family: 'Noto Serif', serif;
      max-width: 1200px;
    }
    p, h1, h2, h3, a, ul{
      margin: 0;
      padding: 0;
      text-decoration: none;
      color: #222;
    }

    /* nav & footer styles */
    nav{
      width: 1200px;
      display: flex;
      justify-content: space-between;
      margin-bottom: 60px;
      border-bottom: 1px solid #ddd;
      text-transform: uppercase;
    }
    nav ul{
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
    }
    nav li{
      list-style-type: none;
      margin-left: 20px;
    }
    nav h1{
      font-size: 3em;
    }
    nav p, nav a{
      color: #777;
      font-weight: 300;
    }
    footer{
      color: #777;
      text-align: center;
      margin: 80px auto 20px;
    }
    h2{
      text-underline-offset: 5px;
      font-size: large;
      padding-left:60px;
      padding-bottom: 2px;
    }
    h3{
      text-transform: capitalize;
      margin-bottom: 8px;
    }
    .content{
      margin-left: 20px;
    }

    /* index styles */
    .blogs a{
      display: block;
      margin: 10px 0;
      color: #8b8b8b;
    }
    .blogs a:hover h3{
      color: crimson;
    }

    /* details styles */
    .details{
      position: relative;
    }
    .delete{
      position: relative;
      top: 0;
      right: 0;
      border-radius: 50%;
      padding: 0px;
    }
    .delete:hover{
      cursor: pointer;
      box-shadow: 1px 2px 3px rgba(0,0,0,0.2);
    }

    /* create styles */
    .create-blog form{
      max-width: 400px;
      margin: 0 auto;
    }
    .create-blog input,
    .create-blog textarea{
      display: block;
      width: 100%;
      margin: 10px 0;
      padding: 8px;
    }
    .create-blog label{
      display: block;
      margin-top: 24px;
    }
    textarea{
      height: 120px;
    }
    .create-blog button{
      margin-top: 20px;
      background: rgb(92, 130, 255);
      color: white;
      padding: 6px;
      border: 0;
      font-size: 1.2em;
      cursor: pointer;
    }


    table {
      width: 1200px;
      border-collapse: collapse;
      border-top: 1px solid #bebebe; /* Add a top border */
      border-bottom: 1px solid #bebebe; /* Add a bottom border */
    }

    th:nth-child(2),td:nth-child(2) {
      text-align: left;
    }

    th,td {
      margin: 3px 0;
      border-top: 1px solid #bebebe; /* Add a top border */
      border-bottom: 1px solid #bebebe; /* Add a bottom border */
      border-right: 1px solid #bebebe;
      text-align: center;
    }
    
    th:first-child,
    td:first-child {
      border-bottom: 1px solid #bebebe;
      border-right: none;
    }
    
    th:last-child,
    td:last-child {
        border-right: none; /* Remove right border for th and td in the last column */
        border-bottom: 1px solid #bebebe;
    }

    .home-container1 {
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      flex: 0 0 auto;
      width: 80%;
      border: 1px solid rgba(120, 120, 120, 0.4);
      height: 100%;
      display: relative;
      box-shadow: 0px 0px 15px 0px #525252;
      align-items: center;
      flex-direction: column;
      background-color: var(--dl-color-gray-white);
    }

    .test {
      border-right: 1px solid #222;
    }

    .select-container {
      display: flex;
      justify-content: left;
      position: relative;
      min-width: 100px;
      height: 50px;
    }

    .select-box {
      border: none;
      appearance: none;
      padding: 0 30px 0 15px;
      width: 80%;
      color: rgb(0, 0, 0);
      background-color: rgb(243, 243, 243);
      font-size: 16px;
      border-radius: 6px;
    }

    select {
      width: 200px; /* Set a width for the dropdown */
      padding: 5px; /* Add padding for better appearance */
    }

    .urgent {
      border: none;
      appearance: none;
      padding: 0 15px 0 15px;
      width: 80%;
      color: rgba(115,50,48,255);
      background-color: rgba(255,226,221,255);
      font-size: 16px;
      border-radius: 6px;
    }
    
    .important {
      border: none;
      appearance: none;
      padding: 0 15px 0 15px;
      width: 80%;
      color: rgba(85,54,27,255);
      background-color: rgba(248, 219, 180, 1);
      font-size: 16px;
      border-radius: 6px;
    }

    .medium {
      border: none;
      appearance: none;
      padding: 0 15px 0 15px;
      width: 80%;
      color: rgba(112, 105, 17, 1);
      background-color: rgba(253, 249, 200, 1);
      font-size: 16px;
      border-radius: 6px;
    }

    .low {
      border: none;
      appearance: none;
      padding: 0 15px 0 15px;
      width: 80%;
      color: rgba(42,69,54,255);
      background-color: rgba(219,237,219,255);
      font-size: 16px;
      border-radius: 6px;
    }

    .checkbox-group {
      display: inline-block;
      flex-direction: row;
      gap: 10px; /* Adjust the gap between checkboxes as needed */
    }
    
    .checkbox-group label {
        display: inline-block;
        align-items: left;
        margin-right:8%;
    }

    .checkdesign {
      border: none;
      appearance: none;
      padding: 0 15px 0 15px;
      max-width: 100px;
      width: 80%;
      color: rgb(0, 0, 0);
      background-color: rgb(245, 236, 255);
      font-size: 16px;
      border-radius: 6px;
    }

    .checkbox {
      display: inline-block;
      align-items: center;
      cursor: pointer;
    }

    .checkbox__input {
      display: none;
    }

    .front{
      border: none;
      appearance: none;
      padding: 0 15px 0 15px;
      max-width: 100px;
      width: 80%;
      color: rgba(102,78,118,255);
      background-color: rgba(232,222,238,255);
      font-size: 16px;
      border-radius: 6px;
    }
    
    .back {
      border: none;
      appearance: none;
      padding: 0 15px 0 15px;
      max-width: 100px;
      width: 80%;
      color: rgba(79,103,121,255);
      background-color: rgba(211,229,239,255);
      font-size: 16px;
      border-radius: 6px;
    }

    .API {
      border: none;
      appearance: none;
      padding: 0 15px 0 15px;
      max-width: 100px;
      width: 80%;
      color: rgba(91,89,87,255);
      background-color: rgba(241,240,239,255);
      font-size: 16px;
      border-radius: 6px;
    }

    .database {
      border: none;
      appearance: none;
      padding: 0 15px 0 15px;
      max-width: 100px;
      width: 80%;
      color: rgba(75,73,69,255);
      background-color: rgba(227,226,224,255);
      font-size: 16px;
      border-radius: 6px;
    }

    .framework {
      border: none;
      appearance: none;
      padding: 0 15px 0 15px;
      max-width: 100px;
      width: 80%;
      color: rgba(150,95,92,255);
      background-color: rgba(255,226,221,255);
      font-size: 16px;
      border-radius: 6px;
    }

    .testing {
      border: none;
      appearance: none;
      padding: 0 15px 0 15px;
      max-width: 100px;
      width: 80%;
      color: rgba(131,96,112,255);
      background-color: rgba(245,224,233,255);
      font-size: 16px;
      border-radius: 6px;
    }

    .UI {
      border: none;
      appearance: none;
      padding: 0 15px 0 15px;
      max-width: 100px;
      width: 80%;
      color: rgba(128,97,72,255);
      background-color: rgba(245,217,196,255);
      font-size: 16px;
      border-radius: 6px;
    }

    .UX {
      border: none;
      appearance: none;
      padding: 0 15px 0 15px;
      max-width: 100px;
      width: 80%;
      color: rgba(130,108,98,255);
      background-color: rgba(238,224,218,255);
      font-size: 16px;
      border-radius: 6px;
    }

    .navbar {
      width: 1200px;
      background-color: #ffffff;
      position: relative;
      z-index: 0;
    }
  
    .navbar ul {
      list-style-type: none;
      margin-bottom: 0px;
      padding: 0;

    }
  
    .navbar li {
      display: inline-block;
    }
  
    .navbar li a {
      color: rgb(105, 105, 105);
      display: block;
      padding: 2px 2px;
      text-decoration: none;
    }
  
    /* Style the dropdown menu */
    .navbar ul ul {
      position: absolute;
      top: 100%;
      display: none;
      background: rgb(240, 240, 240);
    }
  
    .navbar ul ul li {
      display: block;
      background:rgb(240, 240, 240);
    }
  
    .navbar li:hover ul {
      display: block;
      background: rgb(240, 240, 240);
    }
  
    /* Change the background color of dropdown links on hover */
    .navbar ul ul li a:hover {
      background-color: #e7e7e7;
    }

    label {
      display: flex;
      align-items: center;
    }
    
    span::after {
      padding-left: 0px;
    }

    .switch {
      position: relative;
      display: inline-block;
      width: 120px;
      height: 24px;
    }
    
    .switch input { 
      opacity: 0;
      width: 0;
      height: 0;
    }
    
    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ff9494;
      -webkit-transition: .4s;
      transition: .4s;
    }

    .slider::after {
      content: "Priority"; /* Your text content */
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      white-space: nowrap;

      font-family: Arial, Helvetica, sans-serif;
      font-size: 14px;
      color: #3d0000; /* Text color */
    }

    .second-checkbox:checked + .slider::after {
      content: "Descending"; /* Text for the second checkbox */
    }

    .second-checkbox-label .slider::after {
      content: "Ascending"; /* Text for the second checkbox */
    }

    input:checked + .slider::after {
      content: "Date"; /* Text to display after clicking */
      position: absolute;
      top: 50%;
      left: 45%;
      transform: translate(-50%, -50%);
      white-space: nowrap;

      font-family: Arial, Helvetica, sans-serif;
      font-size: 14px;
      color: #130057; /* Text color */
    }
  
    
    .slider:before {
      position: absolute;
      content: "";
      height: 16px;
      width: 16px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
    }
    
    input:checked + .slider {
      background-color: #6cbdff;
    }
    
    input:focus + .slider {
      box-shadow: 0 0 1px #6cbdff;;
    }
    
    input:checked + .slider:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(96px);
    }
    
    /* Rounded sliders */
    .slider.round {
      border-radius: 34px;
    }
    
    .slider.round:before {
      border-radius: 50%;
    }

    

    